<!DOCTYPE html>
<html lang="en">
  <!-- Head-->
  <head>
    <!-- Charset -->
    <meta charset="UTF-8" />

    <!-- Adaptive meta tegs -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Title -->
    <title>Petstory</title>
  </head>
  <!-- Body-->
  <body>
    <div class="wrapper">
      <!-- Header start -->
      <%= htmlWebpackPlugin.options.header %>
      <!-- Header end -->

      <!-- Page start -->
      <main class="page">
        <!-- ? Watch your favourite animal online start-->
        <section class="page__watch-your-favourite-animal-online intro">
          <div class="intro__container _m-container">
            <div class="intro__body">
              <h2 class="intro__title title">
                Watch
                <br />
                your
                <br />
                <mark class="title__mark">favorite</mark>
                <br />
                animal
                <br />
                online
              </h2>
              <a href="" class="intro__btn gradientBtn">wath online</a>
            </div>
          </div>
        </section>
        <!-- ? Watch your favourite animal online end-->
      </main>
      <!-- Page end -->

      <!-- Footer start -->
      <%= htmlWebpackPlugin.options.footer %>
      <!-- Footer end -->
    </div>
  </body>
</html>
