<!DOCTYPE html>
<html lang="en">
  <!-- Head-->
  <head>
    <!-- Charset -->
    <meta charset="UTF-8" />

    <!-- Adaptive meta tegs -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Title -->
    <title>Petstory</title>
  </head>
  <!-- Body-->
  <body>
    <div class="wrapper">
      <!-- Header start -->
      <%= htmlWebpackPlugin.options.header %>
      <!-- Header end -->

      <!-- Page start -->
      <main class="page">
        <!-- ? Watch your favourite animal online start-->
        <section class="page__watch-your-favourite-animal-online intro">
          <div class="intro__container _m-container">
            <div class="intro__body">
              <h2 class="intro__title title">
                Watch
                <br />
                your
                <br />
                <mark class="title__mark">favorite</mark>
                <br />
                animal
                <br />
                online
              </h2>
              <a href="#!" class="intro__btn gradientBtn">wath online</a>
            </div>
          </div>
        </section>
        <!-- ? Watch your favourite animal online end-->

        <!-- ? The Backstage start-->
        <section class="page__the-backstage backstage">
          <div class="backstage__container _m-container">
            <div class="backstage__body">
              <div class="backstage__img">
                <img
                  class="backstage__img_pic"
                  src="./assets/images/main/content/The-Backstage/bamboo-cap.jpg"
                  alt="The Backstage of the Wilderness World"
                  width="609"
                  height="403"
                />
              </div>

              <div class="backstage__column column-backstage">
                <div class="column-backstage__top top-column-backstage">
                  <h3 class="top-column-backstage__title">
                    The Backstage of the Wilderness World.
                  </h3>
                  <p class="top-column-backstage__title_text">
                    The site was founded on the basis of a volunteer movement to
                    protect and care for animals.
                  </p>
                </div>
                <div class="column-backstage__bottom bottom-column-backstage">
                  <h4 class="bottom-column-backstage__subtitle">
                    How it works
                  </h4>
                  <p class="bottom-column-backstage__explain">
                    The main goal is to help the animals, as well as the nature
                    reserves and zoos where they are kept. We are currently
                    working on video projects targeting pandas in China, eagles
                    on an island near Los Angeles, alligators in Florida and
                    gorillas in the Congo. These have a total of more than 1,500
                    mammals and reptiles.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ? The Backstage end-->

        <!-- ? Pets start -->
        <div class="page__pets pets">
          <div class="pets__container _l-container">
            <div class="pets__slider">
              <div class="pets__cards _m-container">
                <article class="pets__card card-pets">
                  <div class="card-pets__img">
                    <img
                      class="card-pets__img_pic"
                      src="./assets/images/main/content/Pets/giant-pandas.jpg"
                      alt="giant Pandas"
                      width="366"
                      height="366"
                    />
                  </div>

                  <div class="pets__desc desc-pets">
                    <div class="desc-pets__text">
                      <h5 class="desc-pets__title">giant Pandas</h5>
                      <p class="desc-pets__environment">
                        Native to Southwest China
                      </p>
                    </div>

                    <div class="desc-pets__thumb">
                      <img
                        src="./assets/images/main/icons/banana-bamboo_ico.svg"
                        alt="giant Pandas"
                        class="desc-pets__icon"
                      />
                    </div>
                  </div>
                </article>

                <article class="pets__card card-pets">
                  <div class="card-pets__img">
                    <img
                      class="card-pets__img_pic"
                      src="./assets/images/main/content/Pets/eagles.jpg"
                      alt="Eagles"
                      width="366"
                      height="366"
                    />
                  </div>

                  <div class="pets__desc desc-pets">
                    <div class="desc-pets__text">
                      <h5 class="desc-pets__title">Eagles</h5>
                      <p class="desc-pets__environment">
                        Native to South America
                      </p>
                    </div>

                    <div class="desc-pets__thumb">
                      <img
                        class="desc-pets__icon"
                        src="./assets/images/main/icons/meet-fish_ico.svg"
                        alt="Eagles"
                      />
                    </div>
                  </div>
                </article>

                <article class="pets__card card-pets">
                  <div class="card-pets__img">
                    <img
                      class="card-pets__img_pic"
                      src="./assets/images/main/content/Pets/gorillas.jpg"
                      alt="Gorillas"
                      width="366"
                      height="366"
                    />
                  </div>

                  <div class="pets__desc desc-pets">
                    <div class="desc-pets__text">
                      <h5 class="desc-pets__title">Gorillas</h5>
                      <p class="desc-pets__environment">Native to Congo</p>
                    </div>

                    <div class="desc-pets__thumb">
                      <img
                        class="desc-pets__icon"
                        src="./assets/images/main/icons/banana-bamboo_ico.svg"
                        alt="Gorillas"
                      />
                    </div>
                  </div>
                </article>

                <article class="pets__card card-pets">
                  <div class="card-pets__img">
                    <img
                      class="card-pets__img_pic"
                      src="./assets/images/main/content/Pets/two-toed-sloth.jpg"
                      alt="Two-toed Sloth"
                      width="366"
                      height="366"
                    />
                  </div>

                  <div class="pets__desc desc-pets">
                    <div class="desc-pets__text">
                      <h5 class="desc-pets__title">Two-toed Sloth</h5>
                      <p class="desc-pets__environment">
                        Mesoamerica, South America
                      </p>
                    </div>

                    <div class="desc-pets__thumb">
                      <img
                        class="desc-pets__icon"
                        src="./assets/images/main/icons/banana-bamboo_ico.svg"
                        alt="Two-toed Sloth"
                      />
                    </div>
                  </div>
                </article>

                <article class="pets__card card-pets">
                  <div class="card-pets__img">
                    <img
                      class="card-pets__img_pic"
                      src="./assets/images/main/content/Pets/cheetahs.jpg"
                      alt="cheetahs"
                      width="366"
                      height="366"
                    />
                  </div>

                  <div class="pets__desc desc-pets">
                    <div class="desc-pets__text">
                      <h5 class="desc-pets__title">cheetahs</h5>
                      <p class="desc-pets__environment">Native to Africa</p>
                    </div>

                    <div class="desc-pets__thumb">
                      <img
                        class="desc-pets__icon"
                        src="./assets/images/main/icons/meet-fish_ico.svg"
                        alt="cheetahs"
                      />
                    </div>
                  </div>
                </article>

                <article class="pets__card card-pets">
                  <div class="card-pets__img">
                    <img
                      class="card-pets__img_pic"
                      src="./assets/images/main/content/Pets/penguins.jpg"
                      alt="Penguins"
                      width="366"
                      height="366"
                    />
                  </div>

                  <div class="pets__desc desc-pets">
                    <div class="desc-pets__text">
                      <h5 class="desc-pets__title">Penguins</h5>
                      <p class="desc-pets__environment">Native to Antarctica</p>
                    </div>

                    <div class="desc-pets__thumb">
                      <img
                        class="desc-pets__icon"
                        src="./assets/images/main/icons/meet-fish_ico.svg"
                        alt="Penguins"
                      />
                    </div>
                  </div>
                </article>
              </div>

              <div class="pets__slider_arrows arrows-wrapper">
                <div class="pets__slider_flex arrows-flex">
                  <div class="pets__slider_arrow-prev slide-arrow">
                    <img
                      class="slide-arrow__ico"
                      src="./assets/images/main/icons/prev-arrow_ico.svg"
                      alt="Previous Slide"
                    />
                  </div>

                  <div class="pets__slider_arrow-next slide-arrow">
                    <img
                      class="slide-arrow__ico"
                      src="./assets/images/main/icons/next-arrow_ico.svg"
                      alt="Previous Slide"
                    />
                  </div>
                </div>
              </div>
            </div>

            <a href="#!" class="intro__btn orangeBtn">choose your favorite</a>
          </div>
        </div>
        <!-- ? Pets end -->
      </main>
      <!-- Page end -->

      <!-- Footer start -->
      <%= htmlWebpackPlugin.options.footer %>
      <!-- Footer end -->
    </div>
  </body>
</html>
