// Main Palette

$Orang: #f9804b;
$Yellow: #ffee2e;
$Black_blue: #333b41;
$Green: #4b9200;
$Gray: #767474;
$Light_gray: #f1f3f2;

// Secondary Palette

$White: #fff;
$Black: #000;
$Light_orange: #fe9013;
$Hover_btn_color: #e47209;
$Light_gray: #e5e5e5;

// RGBA

$Light_purple: rgba(253, 253, 255, 0.52);
